*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    background: rgb(245, 245, 245);
/* position: absolute; */
width: 1600px;
height: 100px;
/* left: 0;
top: 0; */
display: flex;
/* flex-direction: row; */
justify-content: space-between;
align-items: center;
padding: 24px 160px 24px 160px;


}
.nav-head{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
/* letter-spacing: 0%; */
text-align: left;
/* Bangladesh 2.0 */
/* position: static; */
/* width: 222px;
height: 38px; */
/* Auto layout */
display: flex;
/* flex-direction: row; */
/* justify-content: flex-start;
align-items: flex-start; */
/* gap: 0; */
padding: 24px 160px 24px 0px;


/* Inside Auto Layout */
/* flex: none;
order: 0;
flex-grow: 0; */
/* margin: 0px 10px; */
}
.nav-sign{
    box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
/* Frame 2 */
/* position: static; */
/* width: 120px;
height: 52px; */
/* Auto layout */
display: flex;
/* flex-direction: row; */
/* justify-content: center;
align-items: center;
gap: 48; */
padding: 15px 30px 15px 30px;


/* Inside Auto Layout */
/* flex: none;
order: 1;
flex-grow: 0; */
/* margin: 0px 10px; */
color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
/* letter-spacing: 0%; */
text-align: center;

}
.sec1{
    /* Frame 4 */
/* position: static; */
width: 1280px;
height: 560px; 
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 50px;


/* Inside Auto Layout */
/* flex: auto;
order: 0;
flex-grow: 0; */
margin: 0px 160px 0px 160px ;
border-radius: 24px;

background: rgb(198, 228, 214);
}
#p1{
/* Bangladesh 2.0 */
/* position: static; */
width: 622px;
height: 29px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 0px;


/* Inside Auto Layout */
/* flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; */
margin: 16px 0px;
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
#h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    /* Idea , innovation , vision and challenges in New Bangladesh. */
/* position: static; */
width: 622px;
height: 201px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 0px;


/* Inside Auto Layout */
/* flex: none;
order: 1;
flex-grow: 0; */
margin: 16px 0px;
}
.btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    /* Explore New Bangladesh */
position: static;
/* width: 202px;
height: 22px; */
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 20px 100px ;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 48px; */
border-radius: 8px;

background: rgb(0, 106, 80);

}
.sec1-img{
    margin-left: 100px;
}
.sec2{
 margin: 0px 160px;
 height: auto;
 padding: 100px 0px;
}
.pillar-head{
    margin: 150px;
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
/* Pillars of "Bangladesh 2.0" */
position: static;
width: 1280px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 20px 0px 50px 0px;
}
.pillar{
    display: flex;
    flex-direction: row;
    
}
.pillar1{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
/* Frame 2087325495 */
position: static;
width: 310px;
height: 300px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
gap: 24;
padding: 30px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
#pi1{
  margin-left: 0px;
}
.pillar-img{

}
.pillar-h{
    /* Innovation */
position: static;
width: 254px;
height: 24px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.pillar-p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
/* Dolor sit amet consectetur elit. Facilis quas, ducimus labore sequi quos */
position: static;
width: 254px;
height: 72px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px 15px 0px;
}